.listissues{
    margin-left: 16px;
    flex: 1;
    box-sizing: border-box;
}

.listissues ul{
    padding-left: 5px;
}

.listissues li{
    list-style-type: none;
    margin: 10px;
}

.listissues li a{
    text-decoration: none;
}