.projects{
    width: 30%;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.projects ul{
    padding-left: 5px;
}

.projects li{
    margin-bottom: 10px;
    list-style-type: none;
}

.projects li a{
    text-decoration: none;
}

h3{
    text-transform: uppercase;
}